<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                
                <div class="text-center">
                    <h1>Update</h1>
                    <h6>Update Product</h6>                    
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label">Name</label>
                                <input type="text" class="form-control" [(ngModel)]="info.name" name="username">
                              </div>
                        
                          
                        </div>
    
                        <button type="button" class="btn btn-primary mb-2" (click)="onUpdateuser()" routerLink="/showdata">Update</button>

                      </form>
                    
                </form>
            </div>
        </div>
    </div>
</div>
